{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

	<div class="home_contact">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/contact.jpg' %}" data-speed="0.8"></div>

		<!-- Header -->


		<div class="home_container_contact">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content_contact">
							<div class="home_title_contact">Contact</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Contact -->

	<div class="contact">
		<div class="container">
			<div class="row">

				<!-- Contact form -->
				<div class="col-lg-8 contact_col">
					<div class="contact_form">
						<div class="contact_title">Get in touch</div>
						<div class="contact_form_container_contact">
							<form action='' method="POST" id="contact_form" class="contact_form">
								{% csrf_token %}	
								<input type="text" name="c_name" id="contact_input" class="contact_input" placeholder="Your Name" required="required">
								<input type="email" name="c_email" id="contact_email" class="contact_input" placeholder="Your E-mail" required="required">
								<textarea name="c_message" class="contact_input contact_textarea" id="contact_textarea" placeholder="Message" required="required"></textarea>
								<button class="contact_button" id="contact_button">Send message</button>
							</form>
						</div>
					</div>
				</div>

				<!-- Make an Appointment -->
				<div class="col-lg-4 contact_col">
					<div class="info_form_container">
						<div class="info_form_title">Make an Appointment</div>
						<form action='' method="POST" class="info_form" id="info_form">
							{% csrf_token %}
							<select name="info_form_dep" id="info_form_dep" class="info_form_dep info_input info_select_contact">
								{% for doc in departments %}
									<option>{{ doc.Name }}</option>
								{% endfor %}
							</select>
							<select name="info_form_doc" id="info_form_doc" class="info_form_doc info_input info_select_contact">
								{% for doc in doctors %}
									<option>{{ doc.Name}}</option>
								{% endfor %}
							</select>
							<input type="text" name="name" class="info_input" placeholder="Name" required="required">
							<input type="text" name="phone" class="info_input" placeholder="Phone No">
							<input type="text" name="message" class="info_input" placeholder="Your Message">
							<button class="info_form_button">make an appointment</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	{% endblock %}